USE [DbYazOkulu]
GO
/****** Object:  Table [dbo].[TBLBASVURUFORM]    Script Date: 15.09.2023 02:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLBASVURUFORM](
	[TBLBASVURUID] [int] IDENTITY(1,1) NOT NULL,
	[OGRENCIID] [int] NULL,
	[DERSID] [int] NULL,
 CONSTRAINT [PK_TBLBASVURUFORM] PRIMARY KEY CLUSTERED 
(
	[TBLBASVURUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLDERSLER]    Script Date: 15.09.2023 02:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERSLER](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
	[DERSMAXKONTEJAN] [tinyint] NULL,
	[DERSMINKONTENJAN] [tinyint] NULL,
 CONSTRAINT [PK_TBLDERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCI]    Script Date: 15.09.2023 02:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCI](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[OGRAD] [varchar](50) NULL,
	[OGRSOYAD] [nvarchar](50) NULL,
	[OGRNUMARA] [nvarchar](5) NULL,
	[OGRFOTO] [nvarchar](500) NULL,
	[OGRSIFRE] [nvarchar](10) NULL,
	[OGRBAKIYE] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLOGRENCI] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLOGRENCI] ADD  CONSTRAINT [DF_TBLOGRENCI_OGRBAKIYE]  DEFAULT ((0)) FOR [OGRBAKIYE]
GO
